
/* thinkcss grid system */

.wrap{
	width:960px;
	margin:0 auto;
	height:auto; overflow:hidden; clear:both;
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* 第一个元素 */
.alpha {
  margin-left: 0;
}

/* 最后一个元素 */
.omega {
  margin-right: 0;
}

.one{
	width: 60px;
}
.two{
	width: 140px;
}
.three{
	width: 220px;
}
.four{
	width: 300px;
}
.five{
	width: 380px;
}
.six{
	width: 460px;
}
.seven{
	width: 540px;
}
.eight{
	width: 620px;
}
.nine{
	width: 700px;
}
.ten{
	width: 780px;
}
.eleven{
	width: 860px;
}
.twelve{
	width: 940px;
}